<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li class="p-2 done text-center">
        <h2>{{this.burger_name}}</h2>
        <p>You Got This Item!</p>
        <button class="delete" type="submit" id={{this.id}}>DELETE FROM LIST</button> 
    </li>
    {{else}}
    <li class="p-2 active text-center">
        <h2>{{this.burger_name}}</h2>
        <button class="update" type="submit" id={{this.id}}>MARK ITEM OFF</button>
    </li>
    {{/if}}
    {{/each}}
</ul>


<script href="jquery-3.5.1.min.js"></script>
<script src="/assets/scripts/script.js"></script>

